@model OnlineBooking.ViewModels.OtelOdalarViewModel

@{
    ViewData["Title"] = Model.OtelAdi;
    var giris = Helper.GetSonrakiGun(DayOfWeek.Monday, DateTime.Today);
    var cikis = Helper.GetSonrakiGun(DayOfWeek.Sunday, giris);
    if (ViewBag.Giris != null && !String.IsNullOrEmpty(ViewBag.Giris))
    {
        giris = DateTime.Parse(ViewBag.Giris);
    }
    if (ViewBag.Cikis != null && !String.IsNullOrEmpty(ViewBag.Cikis))
    {
        cikis = DateTime.Parse(ViewBag.Cikis);
    }
    if (ViewBag.Yetiskin == null || ViewBag.Yetiskin == 0)
    {
        ViewBag.Yetiskin = 2;
    }
    if (ViewBag.Cocuk == null || ViewBag.Cocuk == 0)
    {
        ViewBag.Cocuk = 0;
    }

    var enUcuzFiyat = Model.Odalar.Select(x => x.ToplamFiyat).OrderBy(x => x).FirstOrDefault();
    var odaSayisi = Model.Odalar.Count();
    var odaSatirSayisi = Math.Ceiling((double)odaSayisi / 4);
    var odaIndex = 0;
}

@Html.Partial("_HataMesaji", (string)ViewBag.HataMesaji ?? "")

<h1>@Model.OtelAdi</h1>
<div class="mrg-btm-10" style="color:#ffa800">
    @Html.Partial("Yildiz", Model.Yildiz)
</div>
<div class="mrg-btm-10"><i class="fa fa-map-marker"></i> @Model.IlAdi, @Model.IlceAdi</div>

@Html.Partial("Resimler", Model.Resimler.ToArray())

<header>
    <h3>Oda Seçenekleri</h3>
</header>

<form method="get" asp-controller="Otel" asp-action="Detay" class="row" style="background: #f7f7f7;border: 1px solid #eee;padding: 10px; padding-top:20px; margin-left:0px; max-width:720px">
    <div class="form-group col-sm-5">
        <label for="girisCikis" class="control-label">Giriş - Çıkış Tarihi</label>
        <div class='input-group date' id='daterangepicker1'>
            <input id="giris-cikis-tarih" type='text' class="form-control text-center" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        <input id="giris" name="giris" type="hidden" value="@giris.ToString("yyyy-MM-dd")" />
        <input id="cikis" name="cikis" type="hidden" value="@cikis.ToString("yyyy-MM-dd")" />
    </div>

    <div class="form-group dropdown col-sm-4">
        <label for="misafir-sayisi">Misafir sayısı</label>
        <button id="misafir-sayisi" type="button" class="form-control dropdown-toggle" data-toggle="dropdown">@ViewBag.Yetiskin yetişkin, @ViewBag.Cocuk çocuk</button>

        <!-- dropdown -->
        <div class="dropdown-menu" id="misafir-secim-dropdown" style="min-width:250px;margin-left:5px">
            <div id="misafir-secim">
                <div class="header clearfix">
                    Misafir sayısı
                </div>
                <div class="row" style="margin-top:10px;margin-bottom:10px;">
                    <div class="col-sm-4 col-sm-offset-1">
                        <label>Yetişkin</label>
                        <input id="yetiskin" name="yetiskin" class="form-control" type="number" value="@ViewBag.Yetiskin" min="0" />
                    </div>
                    <div class="col-sm-4">
                        <label>Çocuk</label>
                        <input id="cocuk" name="cocuk" class="form-control" type="number" value="@ViewBag.Cocuk" min="0" />
                    </div>
                </div>
                <!--<div class="footer">
                    <button class="btn btn-empty">Kapat</button>
                </div>-->
            </div>
        </div>
    </div>

    <div class="form-group col-sm-2">
        <label style="color:white">.</label>
        <div>
            <button type="submit" class="btn btn-success btn-search-hotel"
                    asp-controller="Otel" asp-action="Detay" asp-route-id="@Model.OtelId" 
                    asp-route-giris="@giris.ToString("yyyy-MM-dd")" asp-route-cikis="@cikis.ToString("yyyy-MM-dd")" 
                    asp-route-yetiskin="@ViewBag.Yetiskin" asp-route-cocuk="@ViewBag.Cocuk">
                Oda Bul
                <i class="fa fa-angle-double-right"></i> <i class="fa fa-spin fa-spinner hidden"></i>
            </button>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-sm-12">

        @*https://codepen.io/arkev/pen/EDeuG*@

        @for (int i = 0; i < odaSatirSayisi; i++)
        {
            <div id="pricing-table" class="clear">
                @for (int j = 0; j < 4; j++)
                {
                    if (odaIndex < odaSayisi)
                    {
                        var oda = Model.Odalar.ToArray()[odaIndex];
                        <div class="plan" @(oda.ToplamFiyat == enUcuzFiyat ? "id=enucuz" : "")>
                            <h3>@oda.OdaTipiAdi<span>@oda.ToplamFiyat.ToString("n0")<br />TL</span></h3>
                            <img src="@oda.ImageUrl" style="width:138px;height:80px;" />
                            <ul>
                                <li>@oda.KonaklamaTuruAdi</li>
                                <li></li>
                            </ul>
                            <a class="signup" href="">SEÇ</a>
                        </div>
                    }
                    odaIndex++;
                }
            </div>
        }

        @*<table class="table table-bordered" style="max-width:700px;">
                <thead>
                    <tr><th><h4>Oda Tipi</h4></th><th><h4>Konaklama Türü</h4></th><th><h4>Oda Fiyatı</h4></th></tr>
                </thead>
                <tbody>
                    @foreach (var oda in Model.Odalar)
                    {
                         <tr>
                             <td><img src="@oda.ImageUrl" style="width:100%;height:100%" /></td>
                             <td><h3>@oda.KonaklamaTuruAdi</h3></td>
                             <td><h2>@oda.FiyatYetiskin TL</h2></td>
                         </tr>
                    }
                </tbody>
            </table>*@
        @*<ul style="margin:0px;padding:0px;list-style:none">
                <li>
                    @foreach (var oda in Model.Odalar)
                    {
                        <div class="row">
                            <div class="col-sm-3 right-border">
                                <div style="height:120px;">
                                    <img src="@oda.ImageUrl" style="width:100%;height:100%" />
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <h3>@oda.OdaTipiAdi</h3>
                                <div style="color:#ffa800">
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        <i class="fa fa-star-o"></i>
                                    }
                                </div>
                                <div>@oda.KonaklamaTuruAdi<i class="fa fa-map-marker"></i></div>
                            </div>
                            <div class="col-sm-2 left-border right-border">
                                <div style="width:120px;height:120px;">
                                    <h2 class="text-center" style="padding-left:0px;">300 TL</h2>
                                    <div class="text-center">Herşey dahil</div>
                                    <a class="btn btn-warning" href="/Otel/Detay/@oda.FiyatCocuk" style="position:absolute;bottom:0px;left:7px;width:90%">
                                        Detaylar
                                        <i class="fa fa-angle-double-right"></i> <i class="fa fa-spin fa-spinner hidden"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </li>
            </ul>*@
    </div>
</div>

@section Scripts {
    <script src="~/js/otelAra.js"></script>
    <script>
        startDate = "@giris.ToString("dd.MM.yyyy")";
        endDate = "@cikis.ToString("dd.MM.yyyy")";
        yetiskin = @ViewBag.Yetiskin;
        cocuk = @ViewBag.Cocuk;
    </script>
}
