@model IEnumerable<OnlineBooking.ViewModels.OtelViewModel>

@{
    ViewData["Title"] = "Otel Arama Sonuçları";

    var giris = Helper.GetSonrakiGun(DayOfWeek.Monday, DateTime.Today);
    var cikis = Helper.GetSonrakiGun(DayOfWeek.Sunday, giris);
    Dictionary<string, string> fiyatlar = ViewBag.Fiyatlar;
    Dictionary<string, string> konaklama = ViewBag.Konaklamalar;

    if (ViewBag.Giris != null && !String.IsNullOrEmpty(ViewBag.Giris))
    {
        giris = DateTime.Parse(ViewBag.Giris);
    }
    if (ViewBag.Cikis != null && !String.IsNullOrEmpty(ViewBag.Cikis))
    {
        cikis = DateTime.Parse(ViewBag.Cikis);
    }
    if (ViewBag.Yetiskin == null || ViewBag.Yetiskin == 0)
    {
        ViewBag.Yetiskin = 2;
    }
    if (ViewBag.Cocuk == null || ViewBag.Cocuk == 0)
    {
        ViewBag.Cocuk = 0;
    }
}

<style>
    h2, h3 {
        margin-top: 0px;
    }

    li .row {
        margin-bottom: 30px;
        /*border: 1px solid;*/
        /*border-color:gray;*/
    }

    .right-border {
        border-right: 1px solid grey !important;
    }

    .left-border {
        border-left: 1px solid grey !important;
    }

    /* Resposive table: */
    @@media screen and (max-width: 750px) {
        tbody, thead {
            float: left;
        }

        td, th {
            display: block
        }
    }
</style>

<div class="row">
    <h1 style="margin-bottom:27px">Otel Arama Sonuçları</h1>
    <div class="row">
        <div class="col-sm-3">
            <form asp-controller="Otel" asp-action="Index" method="get" name="otelAra" role="form" autocomplete="off" id="ara-form">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Arama Kriterleri
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="otel-bolge">Şehir ya da otel adı</label>
                            <input type="text" class="form-control" id="otel-bolge" name="bolge" placeholder="Şehir, bölge ya da otel adı" autocomplete="off" value="@ViewBag.Bolge">
                        </div>
                        <div class="form-group">
                            <label for="girisCikis" class="control-label">Giriş - Çıkış Tarihi</label>
                            <div class='input-group date' id='daterangepicker1'>
                                <input id="giris-cikis-tarih" type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <input id="giris" name="giris" type="hidden" value="@giris.ToString("yyyy-MM-dd")" />
                            <input id="cikis" name="cikis" type="hidden" value="@cikis.ToString("yyyy-MM-dd")" />
                        </div>
                        <div class="form-group dropdown">
                            <label for="misafir-sayisi">Misafir sayısı</label>
                            <button id="misafir-sayisi" type="button" class="form-control dropdown-toggle" data-toggle="dropdown">@ViewBag.Yetiskin yetişkin, @ViewBag.Cocuk çocuk</button>

                            <!-- dropdown -->
                            <div class="dropdown-menu" id="misafir-secim-dropdown">
                                <div id="misafir-secim">
                                    <div class="header clearfix">
                                        Misafir sayısı
                                    </div>
                                    <div class="row" style="margin-top:10px;margin-bottom:10px;">
                                        <div class="col-sm-4 col-sm-offset-1">
                                            <label>Yetişkin</label>
                                            <input id="yetiskin" name="yetiskin" class="form-control" type="number" value="@ViewBag.Yetiskin" min="0" />
                                        </div>
                                        <div class="col-sm-4">
                                            <label>Çocuk</label>
                                            <input id="cocuk" name="cocuk" class="form-control" type="number" value="@ViewBag.Cocuk" min="0" />
                                        </div>
                                    </div>
                                    <!--<div class="footer">
                                        <button class="btn btn-empty">Kapat</button>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-search-hotel btn-block">
                            Otel Bul
                            <i class="fa fa-angle-double-right"></i> <i class="fa fa-spin fa-spinner hidden"></i>
                        </button>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="background:#dddddd">
                        Filtreler
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Gecelik Oda Fiyatı</label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="fiyat" value="0-249" @fiyatlar["1"]>
                                    0 - 249 TL
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="fiyat" value="250-499" @fiyatlar["2"]>
                                    250 - 499 TL
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="fiyat" value="500+" @fiyatlar["3"]>
                                    500+
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Konaklama Türü</label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="@((int)KonaklamaTipleri.YarimPansiyon)" name="konaklama" @konaklama["1"]>
                                    Yarım Pansiyon
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="@((int)KonaklamaTipleri.TamPansiyon)" name="konaklama" @konaklama["2"]>
                                    Tam Pansiyon
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="@((int)KonaklamaTipleri.HerseyDahil)" name="konaklama" @konaklama["3"]>
                                    Herşey Dahil
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="@((int)KonaklamaTipleri.Ultra)" name="konaklama" @konaklama["4"]>
                                    Ultra Herşey Dahil
                                </label>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary btn-search-hotel btn-block">
                            Uygula
                            <i class="fa fa-angle-double-right"></i> <i class="fa fa-spin fa-spinner hidden"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-9">
            <ul style="margin:0px;padding:0px;list-style:none">
                <li>
                    @foreach (var otel in Model)
                    {
                        <div class="row">
                            <div class="col-sm-3 right-border">
                                <div style="height:120px;">
                                    <img src="@otel.Resim" style="width:100%;height:100%" />
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <h3>@otel.OtelAdi</h3>
                                <div style="color:#ffa800">
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        if (i < otel.Yildiz)
                                        {
                                            <i class="fa fa-star"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-star-o"></i>
                                        }
                                    }
                                </div>
                                <div>@otel.IlAdi, @otel.IlceAdi <i class="fa fa-map-marker"></i></div>
                                <div>@otel.Adres</div>
                                <div>@otel.Telefon</div>
                            </div>
                            <div class="col-sm-2 left-border right-border">
                                <div style="width:120px;height:120px;">
                                    <h2 class="text-center" style="padding-left:0px;">@otel.Fiyat TL</h2>
                                    <div class="text-center">Herşey dahil</div>
                                    <a class="btn btn-warning" 
                                       asp-controller="Otel" asp-action="Detay" asp-route-id="@otel.OtelId" 
                                       asp-route-giris="@giris.ToString("yyyy-MM-dd")" asp-route-cikis="@cikis.ToString("yyyy-MM-dd")" 
                                       asp-route-yetiskin="@ViewBag.Yetiskin" asp-route-cocuk="@ViewBag.Cocuk"
                                       style="position:absolute;bottom:0px;left:7px;width:90%">
                                        Detaylar
                                        <i class="fa fa-angle-double-right"></i> <i class="fa fa-spin fa-spinner hidden"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/otelAra.js"></script>
    <script>
        startDate = "@giris.ToString("dd.MM.yyyy")";
        endDate = "@cikis.ToString("dd.MM.yyyy")";
        yetiskin = @ViewBag.Yetiskin;
        cocuk = @ViewBag.Cocuk;
    </script>
}
