@using OnlineBooking.ViewModels
@model IEnumerable<OtelFiyatViewModel>

@{
    ViewData["Title"] = "Fiyatlar";

    OtelFiyatViewModel[] fiyatlar = null;
    if (Model != null)
    {
        fiyatlar = Model.ToArray();
    }
    int otelId = ViewBag.OtelId;
    int konaklamaId = ViewBag.KonaklamaId;
}

<h1>Tesis Tanımı</h1>
<h3>Konaklama Fiyat Listesi</h3>
<div class="row"><div class="col-sm-6"><hr /></div></div>

@Html.Partial("_HataMesaji", (string)ViewBag.HataMesaji ?? "")

<div class="row">
    <form asp-controller="Tesis" asp-action="Fiyat" role="form" class="col-sm-6">
        <fieldset>
            <table class="table">
                <thead>
                    <tr>
                        <th style="width:50%">Oda Tipi</th>
                        <th style="width:25%">Yetkişkin</th>
                        <th style="width:25%">9 - 14 Yaş</th>
                    </tr>
                </thead>
                <tbody>
                    @if (fiyatlar != null)
                    {
                        for (int i = 0; i < fiyatlar.Length; i++)
                        {
                            var item = fiyatlar[i];
                            <tr>
                                <td>
                                    @item.OdaTipiAdi
                                    <input name="fiyat[@i].OtelId" value="@otelId" type="hidden" />
                                    <input name="fiyat[@i].KonaklamaId" value="@konaklamaId" type="hidden" />
                                    <input name="fiyat[@i].OdaTipi" value="@item.OdaTipiAdi" type="hidden" />
                                    <input name="fiyat[@i].OdaTipiId" value="@item.OdaTipiId" type="hidden" />
                                    <input name="fiyat[@i].OtelFiyatId" value="@item.OtelFiyatId" type="hidden" />
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input name="fiyat[@i].FiyatYetiskin" value="@item.FiyatYetiskin" type="number" class="form-control text-right" /> 
                                        <div class="input-group-addon">TL</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input name="fiyat[@i].FiyatCocuk" value="@item.FiyatCocuk" type="number" class="form-control text-right" />
                                        <div class="input-group-addon">TL</div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <input asp-for="@otelId" type="hidden" />
            <input asp-for="@konaklamaId" type="hidden" />
            <button style="margin-top:20px;" type="submit" class="btn btn-default"><i class="fa fa-floppy-o"></i> Kaydet</button>
        </fieldset>
    </form>

</div>
