@model OnlineBooking.ViewModels.OtelViewModel

@{
    ViewData["Title"] = "Otel Tesis Profili";
}

<h1>Otel Tesis Profili</h1>

@Html.Partial("_HataMesaji", (string)ViewBag.HataMesaji ?? "")

<div class="row">
    <div class="col-sm-6">
        <h3 style="display:inline-block">Otel Bilgileri</h3>
        <a class="btn btn-link ohb-btn-duzelt" href="/Tesis/Detay/@Model.OtelId">Düzenle</a>
        <hr />

        <div class="ohb-txt">@Model.OtelAdi</div>
        <div>Otel Adı</div>

        <div class="ohb-txt-fs14" style="color:#ffa800">
            @Html.Partial("Yildiz", Model.Yildiz)
        </div>
        <div>Yıldız</div>

        <div class="ohb-txt">@Model.IlAdi, @Model.IlceAdi <i class="fa fa-map-marker"></i></div>
        <div>Konum</div>

        <div class="ohb-txt">@Model.Adres</div>
        <div>Adres</div>

        <div class="ohb-txt">@Model.Telefon</div>
        <div>Telefon</div>

        <h3 style="display:inline-block">Oda Tipleri</h3>
        <hr />
        <div id="odatipleri" class="ohb-txt" style="font-size:16px;">
            <div>
                <a class="fa fa-toggle-off ohb-btn-toggle" data-id="junior"></a>
                Junior Oda
            </div>
            <div>
                <a class="fa fa-toggle-on ohb-btn-toggle" data-id="standart"></a>
                Standart Oda
            </div>
            <div>
                <a class="fa fa-toggle-on ohb-btn-toggle" data-id="aile"></a>
                Aile Odası
            </div>
            <div>
                <a class="fa fa-toggle-on ohb-btn-toggle" data-id="suit"></a>
                Suit Oda
            </div>
        </div>

        <h3 style="display:inline-block">Tesis Özellikleri</h3>
        <hr />
        <div id="ozellikler" class="row ohb-txt" style="font-size:16px;">
            <div class="col-sm-6">
                <div>
                    <a class="fa fa-toggle-on ohb-btn-toggle" data-ozellik="havaalani-servisi"></a>
                    Havaalanı Servisi
                </div>
                <div>
                    <a class="fa fa-toggle-on ohb-btn-toggle" data-ozellik="acik-restoran"></a>
                    Açık Restoran
                </div>
                <div>
                    <a class="fa fa-toggle-on ohb-btn-toggle" data-ozellik="kapali-restoran"></a>
                    Kapalı Restoran
                </div>
                <div>
                    <a class="fa fa-toggle-on ohb-btn-toggle" data-ozellik="acik-havuz"></a>
                    Açık Havuz
                </div>
                <div>
                    <a class="fa fa-toggle-off ohb-btn-toggle" data-ozellik="kapali-havuz"></a>
                    Kapalı Havuz
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <a class="fa fa-toggle-on ohb-btn-toggle" data-ozellik="cocuk-havuzu"></a>
                    Çocuk Havuzu
                </div>
                <div>
                    <a class="fa fa-toggle-on ohb-btn-toggle" data-ozellik="wifi"></a>
                    Ücretsiz Wifi
                </div>
                <div>
                    <a class="fa fa-toggle-on ohb-btn-toggle" data-ozellik="guzellik-merkezi"></a>
                    Güzellik Merkezi
                </div>
                <div>
                    <a class="fa fa-toggle-on ohb-btn-toggle" data-ozellik="otopark"></a>
                    Otopark
                </div>
                <div>
                    <a class="fa fa-toggle-on ohb-btn-toggle" data-ozellik="lobi-bar"></a>
                    Lobi / Bar
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="ohb-tesis-alan">
            <h3 style="display:inline-block">Resim Galerisi</h3>
            <a asp-controller="Tesis" asp-action="Resim" asp-route-id="@Model.OtelId" class="btn btn-link ohb-btn-duzelt">Düzenle</a>
            <div class="ohb-tesis-img-prev">
                @*<img src="~/images/beach.jpg" class="img-responsive">*@

                @Html.Partial("Resimler", Model.Resim.ToArray())
            </div>
        </div>
        <div class="ohb-tesis-alan">
            <h3 style="display:inline-block">Oda Fiyatları</h3>
            <select class="form-control ohb-select" onchange="setKonaklamaId(this);">
                <option value="1">Yarım Pansiyon</option>
                <option value="2">Tam Pansiyon</option>
                <option value="3" selected>Herşey Dahil</option>
                <option value="4">Ultra Herşey Dahil</option>
            </select>
            <a id="fiyatduzenle" asp-controller="Tesis" asp-action="Fiyat" asp-route-id="@Model.OtelId" asp-route-konaklamaId="3" class="btn btn-link ohb-btn-duzelt">Düzenle</a>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Oda Tipi</th>
                            <th>Yetkişkin</th>
                            <th>9 - 14 Yaş</th>
                        </tr>
                    </thead>
                    <tbody id="fiyatlar">
                        @foreach (var item in Model.Fiyat.Where(x => x.KonaklamaId == 3).OrderBy(x => x.OdaTipiId))
                        {
                            <tr>
                                <td>@item.OdaTipiAdi</td>
                                <td>@item.FiyatYetiskin</td>
                                <td>@item.FiyatCocuk</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script src="~/js/toggleButton.js"></script>
<script>
    var fiyatlar1 = "@Html.Raw(FiyatOlustur(1))";
    var fiyatlar2 = "@Html.Raw(FiyatOlustur(2))";
    var fiyatlar3 = "@Html.Raw(FiyatOlustur(3))";
    var fiyatlar4 = "@Html.Raw(FiyatOlustur(4))";

    var otelId = @Model.OtelId;
    $(document).ready(function () {
        $("#odatipleri .ohb-btn-toggle").toggleButton({
            otelId: @Model.OtelId,
            metod: "OdaTipiAcKapa"
        });
        $("#ozellikler .ohb-btn-toggle").toggleButton({
            otelId: @Model.OtelId,
            metod: "OzellikAcKapa"
        });
    });

    function setKonaklamaId(select) {
        $("#fiyatduzenle").attr("href", "/Tesis/Fiyat/" + otelId + "?konaklamaId=" + select.value);
        $("#fiyatlar").empty();
        if (select.value == "1") {
            $("#fiyatlar").html(fiyatlar1);
        } else if (select.value == "2") {
            $("#fiyatlar").html(fiyatlar2);
        } else if (select.value == "3") {
            $("#fiyatlar").html(fiyatlar3);
        } else if (select.value == "4") {
            $("#fiyatlar").html(fiyatlar4);
        }
        
    }

</script>
}

@functions {
    public string FiyatOlustur(int konaklamaId)
    {
        var tbody = "";
        foreach(var item in Model.Fiyat.Where(x => x.KonaklamaId == konaklamaId).OrderBy(x => x.OdaTipiId))
        {
            tbody += "<tr>" +
                        "<td>" + item.OdaTipiAdi + "</td>" +
                        "<td>" + (item.FiyatYetiskin != 0 ? item.FiyatYetiskin.ToString() : "-") + "</td>" +
                        "<td>" + (item.FiyatCocuk != 0 ? item.FiyatCocuk.ToString() : "-") + "</td>" +
                     "</tr>";
        }
        return tbody;
    }
}