@model IEnumerable<OnlineBooking.Models.OtelResim>

@{
    ViewData["Title"] = "Otel Tesis Resim Galerisi";
}

<style>
    h3 {
        display: inline-block;
    }
</style>

<h1>Tesis Resimleri</h1>
@Html.Partial("_HataMesaji", (string)ViewBag.HataMesaji ?? "")

<!-- Otel resimleri -->
<h3>Otel Tesis Resim Galerisi</h3>
<a asp-controller="Tesis" asp-action="ResimEkle" asp-route-id="@ViewBag.OtelId" asp-route-odatipi="@OdaTipleri.Yok">Resim Ekle</a>
<div class="row"><div class="col-sm-9"><hr /></div></div>

<div class="row">
    <div class="col-sm-9">
        @foreach (var item in Model.Where(x => x.OdaTipiId == (int)OdaTipleri.Yok))
        {
            <div class="col-lg-4 thumbnail">
                <img src="@item.Path" style="width:100%;height:100%" />
            </div>
        }
    </div>
</div>

<!-- Junior oda resimleri -->
<h3>Junior Oda Resim Galerisi</h3>
<a asp-controller="Tesis" asp-action="ResimEkle" asp-route-id="@ViewBag.OtelId" asp-route-odatipi="@OdaTipleri.JuniorOda">Resim Ekle</a>
<div class="row"><div class="col-sm-9"><hr /></div></div>

<div class="row">
    <div class="col-sm-9">
        @foreach (var item in Model.Where(x => x.OdaTipiId == (int)OdaTipleri.JuniorOda))
        {
            <div class="col-sm-4 thumbnail">
                <img src="@item.Path" style="width:100%;height:100%" />
            </div>
        }
    </div>
</div>

<!-- Standart oda resimleri -->
<h3>Standart Oda Resim Galerisi</h3>
<a asp-controller="Tesis" asp-action="ResimEkle" asp-route-id="@ViewBag.OtelId" asp-route-odatipi="@OdaTipleri.StandartOda">Resim Ekle</a>
<div class="row"><div class="col-sm-9"><hr /></div></div>

<div class="row">
    <div class="col-sm-9">
        @foreach (var item in Model.Where(x => x.OdaTipiId == (int)OdaTipleri.StandartOda))
        {
            <div class="col-sm-4 thumbnail">
                <img src="@item.Path" style="width:100%;height:100%" />
            </div>
        }
    </div>
</div>

<!-- Aile odası resimleri -->
<h3>Aile Odası Resim Galerisi</h3>
<a asp-controller="Tesis" asp-action="ResimEkle" asp-route-id="@ViewBag.OtelId" asp-route-odatipi="@OdaTipleri.AileOdasi">Resim Ekle</a>
<div class="row"><div class="col-sm-9"><hr /></div></div>

<div class="row">
    <div class="col-sm-9">
        @foreach (var item in Model.Where(x => x.OdaTipiId == (int)OdaTipleri.AileOdasi))
        {
            <div class="col-sm-4 thumbnail">
                <img src="@item.Path" style="width:100%;height:100%" />
            </div>
        }
    </div>
</div>

<!-- Suit oda resimleri -->
<h3>Suit Oda Resim Galerisi</h3>
<a asp-controller="Tesis" asp-action="ResimEkle" asp-route-id="@ViewBag.OtelId" asp-route-odatipi="@OdaTipleri.SuitOda">Resim Ekle</a>
<div class="row"><div class="col-sm-9"><hr /></div></div>

<div class="row">
    <div class="col-sm-9">
        @foreach (var item in Model.Where(x => x.OdaTipiId == (int)OdaTipleri.SuitOda))
        {
            <div class="col-sm-4 thumbnail">
                <img src="@item.Path" style="width:100%;height:100%" />
            </div>
        }
    </div>
</div>
